.HomeMainBarDiv {
  width: 100% !important;
  margin-right: 0% !important;
}
.isLoading {
  color: #fc8019;
  margin-left: 35%;
  margin-top: 18%;
}
.staus-div{
  min-height: 75vh;
  margin-bottom: 10vh;
  background-color: whitesmoke;
  overflow-y: hidden;
}
.satus-menu{
  float: right;
}
.PROGRESS-title{
  color: blue;
  background-color: #E6FCFF;
  border-radius: 5px;
}
.DO-title{
  color:  #42526E;
  background-color: #F7F8F9;
  border-radius: 5px;
}
.DONE-title{
  color: #216E4E;
  background-color: #BAF3DB;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .HomeMainBarDiv {
    width: 110% !important;
  }
  .HomeMainBarDiv h1 {
    width: 50% !important;
    font-size: 24px;
  }
  .HomeMainBarDiv a {
    width: 30% !important;
    font-size: small;
    margin-top: 0% !important;
    margin-left: 10%;
  }
}
@media (min-width: 600px) and (max-width: 830px) {
  .HomeMainBarDiv {
    width: 86% !important;
    margin-right: 0% !important;
    margin-left: 2% !important;
  }
  .HomeMainBarDiv h1 {
    width: 70% !important;
    font-size: 24px;
  }
  .HomeMainBarDiv a {
    width: 20% !important;
    font-size: small;
    margin-top: 0% !important;
    margin-left: 10%;
  }
}
